<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <form action="/posts" method="POST">
            <fieldset>
                <legend> New Post </legend>
            </fieldset>
            <ul>
                <li>
                    <input
                        name="title"
                        placeholder="Blog Title"
                        required
                        title="Enter a blog title"
                    />
                </li>
                <li>
                    <textarea 
                        name="content" 
                        placeholder="Blog content"
                        cols="150"
                        rows="30"
                        required
                        title="Enter blog content"
                    ></textarea>
                </li>
                <li>
                    <input type="submit" value="Submit" />
                    <input type="reset" value="Reset" />
                </li>
            </ul>
        </form>
    </body>
<html>