<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <article>
            <header>
                <h2><%= title %></h2>
                <time></time>
            </header>
            <div><%= content %></div>
        </article>
    </body>
</html>