.blog {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	padding: 20px 30px;
	margin: 25px 0px;
	background-color: white;

	h2 {
		display: inline;
	}

	time {
		float: right;
		clear: both;
	}


}