form {
	text-align: center;
	fieldset {
		display: inline-block;

	}

	li {
		list-style: none;
	}

	ul {
		padding: 0;
	}

	input, textarea {
		margin: 2px 20px;
	}
}

form.new-blog {
	background-color: white;
	padding: 10px;

	input[type=text], textarea {
		width: 90%;
	}
}