.link-style {
	color: white;
	padding: 2px 20px;
	font-family: 'Varela Round', sans-serif;
	text-decoration: none;
	font-weight: bold;
	background-color: black;
	&:hover {
		color: #666;
		text-decoration: underline;
	}
}

h1 {
	font-family: 'Delius', cursive;
	font-size: 48px;
	top: 20px;
	left: 0px; 
	margin: 0px;
	margin-left: 10px;
	letter-spacing: 5px;
	color: black;
	position: absolute;
}

h1:first-letter {
	font-size: 60px;
}

nav {
	text-align: center;
}

nav a {
	.link-style;
}

menu li {
	list-style: none;
	display: inline;
}

menu li a {
	.link-style;
}

menu {
	position: absolute;
	margin: 0px;
	right: 0px;
	top: @space_top;
}