.error {
  color: red;
  border-color: red;
}
.link-style {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.link-style:hover {
  text-decoration: underline;
}
/*---------------------------------------------------
		LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
h1 {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  position: absolute;
}
h1:first-letter {
  font-size: 60px;
}
h1 a {
  letter-spacing: 5px;
  text-decoration: none;
  font-family: 'Delius', cursive;
  font-size: 48px;
  color: black;
}
header nav {
  text-align: center;
}
header nav li {
  list-style: none;
  display: inline;
}
header nav li:last-of-type {
  float: right;
  margin-right: 20px;
}
header nav ul {
  margin: 0px;
}
header nav a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
  padding: 0% 2%;
}
header nav a:hover {
  text-decoration: underline;
}
form {
  text-align: center;
}
form fieldset {
  display: inline-block;
}
form li {
  list-style: none;
  padding: 2px;
}
form ul {
  padding: 0;
}
form input, form textarea {
  margin: 2px 20px;
}
#blog form {
  padding: 10px;
}
#blog form input[type=text], #blog form textarea {
  width: 90%;
}
#auth p {
  text-align: center;
}
#auth p a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
#auth p a:hover {
  text-decoration: underline;
}
#blog article {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  padding: 20px 30px;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  background-color: #f7f2ea;
}
#blog article time {
  float: right;
  clear: both;
}
#blog article a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
#blog article a:hover {
  text-decoration: underline;
}
#blog article h2, #blog article footer form {
  display: inline;
}
#blog article form {
  background-color: inherit;
}
#blog hr {
  width: 50%;
  border-style: none;
  color: white;
  border-bottom: 1px #999 solid;
  border-top: 1px #999 solid;
  padding-bottom: 3px;
}
body {
  margin: 0px;
  font-family: 'Ubuntu', sans-serif;
}
header {
  padding-top: 4px;
  padding-bottom: 2px;
}
footer {
  text-align: center;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style: none;
  display: inline;
}
footer a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
section {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  width: 78%;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.17em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .83em;
}
