@space_top: 4px;
@main_colour: rgb(117, 147, 201);
@secondary_colour: rgb(200,170,117);

@import "/public/stylesheets/common";
@import "/public/stylesheets/elements";
@import "/public/stylesheets/menu";
@import "/public/stylesheets/forms";
@import "/public/stylesheets/blog";

body {
	margin: 0px;
	font-family: 'Muli', sans-serif;
}

header {
	padding-top: @space_top;
	padding-bottom: 2px;
}

footer {
	text-align: center;
	ul {
		padding: 0px;
	}
	li {
		list-style: none;
		display: inline;
	}
	a {
		.link-style;
	}
}

section {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	width: 78%;
}

