.inline {
  display: inline;
}
.error {
  color: red;
}
.link-style {
  color: #7593c9;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.link-style:hover {
  text-decoration: underline;
}
/*---------------------------------------------------
		LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
h1 {
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  position: absolute;
}
h1:first-letter {
  font-size: 60px;
}
h1 a {
  letter-spacing: 5px;
  text-decoration: none;
  font-family: 'Delius', cursive;
  font-size: 48px;
  color: black;
}
header nav {
  text-align: center;
}
header nav a {
  padding: 2px 20px;
}
header nav li {
  list-style: none;
  display: inline;
}
header nav li.login {
  float: right;
}
header nav ul {
  margin: 0px;
}
header nav a {
  color: #7593c9;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
header nav a:hover {
  text-decoration: underline;
}
form {
  text-align: center;
}
form fieldset {
  display: inline-block;
}
form li {
  list-style: none;
}
form ul {
  padding: 0;
}
form input, form textarea {
  margin: 2px 20px;
}
form.blog-post {
  background-color: white;
  padding: 10px;
  border: 1px black solid;
}
form.blog-post input[type=text], form.blog-post textarea {
  width: 90%;
}
article.blog-post {
  padding: 20px 30px;
  margin: 25px 0px;
  background-color: white;
}
article.blog-post time {
  float: right;
  clear: both;
}
article.blog-post a {
  color: #7593c9;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
article.blog-post a:hover {
  text-decoration: underline;
}
article.blog-post h2 {
  display: inline;
}
body {
  margin: 0px;
}
header {
  padding-top: 4px;
  padding-bottom: 2px;
}
footer {
  text-align: center;
}
footer ul {
  padding: 0px;
}
footer li {
  list-style: none;
  display: inline;
}
footer a {
  color: #7593c9;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
#main {
  margin-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  width: 78%;
}
