@space_top: 4px;
@main_colour: #7593C9;
@hover_colour: #415E93;

@import "/public/stylesheets/common";
@import "/public/stylesheets/elements";
@import "/public/stylesheets/menu";
@import "/public/stylesheets/forms";
@import "/public/stylesheets/blog";

body {
	margin: 0px;
}

header {
	padding-top: @space_top;
	padding-bottom: 2px;
}

footer {
	text-align: center;
	ul {
		padding: 0px;
	}
	li {
		list-style: none;
		display: inline;
	}
}

#main {
	margin-top: 50px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 1%;
	width: 78%;
}

