form {
	text-align: center;
	fieldset {
		display: inline-block;
	}

	li {
		list-style: none;
		padding: 0.2%;
	}

	ul {
		padding: 0;
	}

	input, textarea {
		margin: 0.5% 1%;
	}	
}

#blog form {
	padding: 1%;

	input[type=text], textarea {
		width: 90%;
	}	
}

#auth p {
	text-align: center;

	a {
		.link-style;
	}
}