.error {
  color: red;
  border-color: red;
}
.link-style {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
.link-style:hover {
  text-decoration: underline;
}
/*---------------------------------------------------
		LESS Elements 0.5
	---------------------------------------------------
		A set of useful LESS mixins by Dmitry Fadeyev
		Special thanks for mixin suggestions to:
			Kris Van Herzeele,
			Benoit Adam,
			Portenart Emile-Victor
			
		More info at: http://lesselements.com
-----------------------------------------------------*/
h1 {
  margin: 0;
  padding: 0.5em;
  display: inline;
}
h1:first-letter {
  font-size: 1.2em;
}
h1 a {
  letter-spacing: 0.1em;
  text-decoration: none;
  font-family: 'Delius', cursive;
  font-size: 2em;
  color: black;
}
header nav {
  text-align: center;
  margin-top: -3em;
  width: 100%;
}
header nav li {
  list-style: none;
  display: inline;
}
header nav ul {
  text-align: center;
  margin: 0;
  display: inline;
}
header nav a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0% 2%;
}
header nav a:hover {
  text-decoration: underline;
}
form {
  text-align: center;
}
form fieldset {
  display: inline-block;
}
form li {
  list-style: none;
  padding: 0.2%;
}
form ul {
  padding: 0;
}
form input, form textarea {
  margin: 0.5% 1%;
}
#blog form {
  padding: 1%;
}
#blog form input[type=text], #blog form textarea {
  width: 90%;
}
#auth p {
  text-align: center;
}
#auth p a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
#auth p a:hover {
  text-decoration: underline;
}
#blog article {
  max-width: 50em;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 1.5em 2.5em;
}
#blog article, #blog article pre {
  -webkit-border-top-right-radius: 1.5em;
  -webkit-border-bottom-right-radius: 1.5em;
  -webkit-border-bottom-left-radius: 1.5em;
  -webkit-border-top-left-radius: 1.5em;
  -moz-border-radius-topright: 1.5em;
  -moz-border-radius-bottomright: 1.5em;
  -moz-border-radius-bottomleft: 1.5em;
  -moz-border-radius-topleft: 1.5em;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  border-top-left-radius: 1.5em;
  background-color: #f7f2ea;
}
#blog article time {
  float: right;
  clear: both;
}
#blog article a, #blog > a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
#blog > a {
  text-align: center;
  display: block;
}
#blog article a:hover {
  text-decoration: underline;
}
#blog article h2, #blog article footer form {
  display: inline;
}
#blog article form {
  background-color: inherit;
}
#blog hr {
  width: 45%;
  border-style: none;
  color: white;
  border-bottom: 1px #999 solid;
  border-top: 1px #999 solid;
  padding-bottom: 0.3%;
}
body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 0.85em;
}
footer {
  text-align: center;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  display: inline;
}
footer a {
  color: #4267aa;
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}
section {
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  width: 78%;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.17em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: .83em;
}
